<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>忘记密码</title>
    <style>
        .activeDiv {
            text-align: center;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: aliceblue;
        }


        .pColor {
            color: white;
            font-size: 20px;
            text-decoration: none
        }

    </style>
</head>

<body>

<div>
    <p>亲爱的<b th:text="${username}"></b>, 您的密码已重置!</p>
    <p>为了您的账户安全，请尽快修改密码</p>
    <p>我们对您产生的不便，深表歉意。</p>
    <p>希望您在OceanMooc进一步成长！</p>
    <p></p>
    <p>新的密码是：<b th:text="${newpwd}"></b></p>
    <p>-----------------------</p>
    <p></p>
    <p>(这是一封自动产生的email，请勿回复。)</p>
</div>

</body>

</html>